<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/custom.css">


</head>
<body>
    {% extends "layout.html" %}
    {% block content %}
    <h2>
        Politics Simplified
    </h2>
    <!-- <h2>
        Anika Puri and Anastasia Dunca
    </h2> -->
    
    <div id="Description">
        <h2>Description </h2>
        <p>
            Politics Simplified is a Machine Learning application to help the general public of Massachusetts become informed on various political candidates in local elections, specifically based on a user’s topics of interest. 
        </p>
    </div>
    <!-- <div id="Team">
        <h2>Team</h2>
        <h3>Anika Puri</h3>
        <img src="../static/anikapuri.jpg" alt="Anika Puri" height=300 width = 210px>
        <p>Anika Puri is a freshman at MIT currently hoping to major in Electrical Engineering and Computer Science. Exploring technology & engineering for social good, Anika is especially passionate about innovation focusing on environmental science and biomedical engineering. Anika is also a part of the MIT Bhangra Dance team and is excited to learn more about Artificial Intelligence as a part of AIM. </p>

        <h3>Anastasia Dunca</h3>
        <img src="../static/anastasiadunca.jpg" alt="Anastasia Dunca" height=300 width = 300px>
        <p>Anastasia Dunca is a freshman at MIT hoping to major in Computer Science. Interested in artificial intelligence and machine learning, she is very enthused to work in the intersection of technology, political science, and healthcare. She loves being outside and is also part of the MIT Ultimate Frisbee team.</p>
    </div> -->
    {% endblock %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>